:root {
  --button-padding: 0.75rem 1.25rem;

  --button-color-bg: var(--color-black);
  --button-color-fg: var(--color-white);

  --button-font-size: 1rem;
}

.button {
  padding: var(--button-padding);
  border: none;
  border-radius: 0.5rem;

  color: var(--button-color-fg);
  background-color: var(--button-color-bg);
  outline: none;

  font-size: var(--button-font-size);
  cursor: pointer;

  &:active {
    opacity: 0.75;
  }
  &:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
  }
}
