.radio {
  display: inline-block;
  & + .radio {
    margin-left: 1.5rem;
  }

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  label {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 1rem;
      height: 1rem;

      border: 1px solid var(--color-black);
      border-radius: 50%;
      background-color: var(--color-white);
    }
  }

  input:checked + label::before {
    background-color: var(--color-black);
  }
  input:focus-visible + label::before {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
  }
}

.radio-group {
  padding: 0;
  border: none;

  legend {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;
  }
}
