.switch {
  position: relative;
  padding-left: 2.5rem;
  width: fit-content;

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  label {
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &::before {
      top: -2px;
      left: 0;
      width: 2rem;
      height: 1.25rem;

      border-radius: 0.675rem;
      background-color: var(--color-black);
      transition: background-color 0.3s ease;
    }
    &::after {
      top: 0;
      left: 2px;
      width: 1rem;
      height: 1rem;

      border-radius: 50%;
      background-color: white;
      transition: left 0.3s ease;
    }
  }

  input:checked + label {
    &::before {
      background-color: lime;
    }
    &::after {
      left: calc(1rem - 2px);
    }
  }
  input:focus-visible + label::before {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
  }
}
